<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>{% block title %}Default Title{% endblock %}</title>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="{% static 'common_style.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        {% block styles %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav id="nav_menu">
                <img id="logo_nav" src="{% static 'logo.png' %}">
                <a class="link_nav_menu" href="/">Inicio</a>
                <a class="link_nav_menu" href="/dashboard">Dashboard</a>
                <a class="link_nav_menu" href="/alarmas">Alarmas</a>
                <a class="link_nav_menu" href="/analitica">Analisis de datos</a>
                <div></div>
                <div></div>
                
                {% if user.is_authenticated %}
                <div class="div_usuario">Usuario:</div>
                <div class="div_usuario">{{ user.get_username }}</div>
                <a class="link_nav_menu" href="/logout">Logout</a>
                {% else %}
                <div></div>
                <a class="link_nav_menu" href="/login">Login</a>
                <a class="link_nav_menu" href="/registro">Registro</a>
                {% endif %}
                
                
                

            </nav>
        </header>
        {% block content %}

        {% endblock %}
    </body>
</html>